    body{

background-color: #fcd9af;

}
    nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    font-weight: bold;
    float: right;
}
    ul li{

    list-style: none;
    display: inline-block;
    padding: 0px  30px;
    border-radius: 5px;
}
    nav ul li a{

    text-decoration: none;
    color: white;

}
    nav ul li :hover{

    color: black;
    background-color: rgb(255, 255, 255);

}
    .barra{

    background-color: black;
    height: 3em;
    width: 100%;
}
    .parte1{

    background-color: blue;
    width: 100%;
    height: 400px;

}
    .cosa1{

    width: 250px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding-top: 10px;
    margin-left: 100px;
    float: inline-start;
}
    .cosa2{
        
    width: 250px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;    
    padding-top: 10px;
    margin-left: 190px;
    float: left;
 
}
    .cosa3{
        
    width: 250px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 10px;
    margin-right: 100px;
    float: inline-end;
            
}
    .parte2{

    background-color: blue;
    width: 100%;
    height: 400px;

}
    .cosa4{

    width: 250px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 10px;
    margin-left: 100px;
    float: inline-start;
}
    .cosa5{
        
    width: 250px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 10px;
    margin-left: 190px;
    float: left;
            
}
    .cosa6{
        
    width: 250px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 10px;
    margin-right: 100px;
    float: inline-end;
            
}
    .parte3{

    background-color: blue;
    width: 100%;
    height: 400px;

}
    .cosa7{

    width: 250px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 10px;
    margin-left: 100px;
    float: inline-start;
}
    .cosa8{
        
    width: 250px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;    
    padding-top: 10px;
    margin-left: 190px;
    float: left;
            
}
    .cosa9{
        
    width: 250px;
    height: 300px;
    background-color:#fff;
    border-radius: 20px;
    padding-top: 10px;
    margin-right: 100px;
    float: inline-end;
            
}
    img{

    width: 225px;
    height: 150px;
    padding-left: 10px;

}
    p{

    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    padding-left: 10px;



}
    h4{

    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(175, 0, 0);
    padding-left: 200px;

    }